<h1>Welcome to GetAround</h1>
<%= link_to 'New Owner', new_owner_registration_path %>
<br>
<%= link_to 'Sign in Owner', owner_session_path %>
<br>
<br>
<br>
<%= link_to 'New Driver', new_driver_registration_path %>
<br>
<%= link_to 'Sign in Driver', driver_session_path %>